<div id="example" class="splide" >
    <div class="splide__track">
        <div class="splide__list">
            <div class="splide__slide">1</div>
            <div class="splide__slide">2</div>
            <div class="splide__slide">3</div>
        </div>
    </div>    
</div>
