html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: $bg;
  min-height: 100vh;
}

.shell {
  max-width: 1440px;
  margin: 0 auto;

  @include max(800px) {
    padding: 0 3.6rem;
  }
}
